body {
    font-family: Arial;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    text-align: center;
}

h1, h2 {
    color: #222;
}

button {
    padding: 10px 20px;
    background: #ff4b2b;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    background: #ff416c;
}

input, select {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
}
