<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>Login Page</h1>

<form method="POST" action="/login">

    <input type="email" name="email" placeholder="Enter Email" required>
    <br>

    <input type="password" name="password" placeholder="Enter Password" required>
    <br>

    <button type="submit">Login</button>

</form>

<br>

<a href="/register">
    <button>New User? Register</button>
</a>

</body>
</html>
