<!DOCTYPE html>
<html>
<head>
<title>Book Cylinder</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h2>Gas Cylinder Booking</h2>

<form method="POST" action="/booking">

    <label>Cylinder Type:</label>
    <select name="cylinder_type" required>
        <option value="Domestic">Domestic</option>
        <option value="Commercial">Commercial</option>
    </select>

    <br><br>

    <label>Amount:</label>
    <input type="text" name="amount" value="1200" required>

    <br><br>

    <button type="submit">Book Now</button>

</form>

</body>
</html>
